################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/MinErrorMap/FileContentIndex/91bf1eb5-4ded-4cf3-8f62-99f0d9de58a2.vsidx
/.vs/MinErrorMap/FileContentIndex/ded4a778-c004-4ec8-a085-4c8cd8882305.vsidx
/.vs/MinErrorMap/FileContentIndex/a87574f1-48ec-4ede-8aa0-37f50d991356.vsidx
/.vs/MinErrorMap/v17/.wsuo
/.vs/MinErrorMap/FileContentIndex/1ab480da-fd5f-4cd3-9b84-9d4dccc65f08.vsidx
/.vs/MinErrorMap/FileContentIndex/a898ad52-1449-48b7-a72b-fc2152bf9699.vsidx
/.vs/MinErrorMap/v17/DocumentLayout.json
